    /* General/Default Structure */

    h1 {
      font-family: 'Montserrat';
    }

    p {
      font-family: 'Roboto';
    }

    html, body {
      margin: 0px;
      font-family: 'Roboto';
      height: 100%;
    }

    .side-bar a, .progress-page, .chat-page {
      padding: 10px;
      border-radius: 15px;
    }

    .progress-page:hover, .chat-page:hover, .side-bar a:hover {
      background-color: #bdbdbd;
      background-color: rgba(255, 255, 255, 0.2);
    }

    /* Website Main Structure */

    .web-structure {
      display: grid;
      grid-template-columns: 250px 1fr;
      grid-template-rows: auto 1fr;
      grid-template-areas: 
      "side nav"
      "side main";
      height: 100vh;
    }

    .navigation {
      grid-area: nav;
      background-color: #737373;
    }

    .side-bar {
      grid-area: side;
      background-color: #545454;
    }

    .main-contents {
      grid-area: main;
      background-color: #737373;
    }
    /* End of Main Structure */

    /* Navigation contents */

    nav {
      display: flex;
      justify-content: space-between;
      padding: 5px;
    }

    .right-contents, .middle-contents {
      display: flex;
    }

    .profile-pic {
      width: 30px;
      align-self: center;
      border-radius: 15px;
    }

    /* Side bar contents */

    .side-bar {
      display: flex;
      flex-direction: column;
      align-items: center;
      position: fixed;
      height: 100vh;
      width: 19vw;
    }

    .side-bar a, .side-bar h2{
      text-decoration: none;
      color: #ffffff;
    }

    .log-out {
      border: none;
      font-family: 'Roboto';
      background: none;
      color: #ffffff;
      transition: background-color 0.3s ease;
      padding: 10px;
      border-radius: 15px;
    }

    .log-out:hover {
      background-color: #737373;
      color: #ffffff;
    }

    .log-out:active {
      background-color: #3b3b3b;
      color: #bdbdbd;
    }

    .side-lower-content {
      margin-top: 10%;
    }

    /* Main Contents */
    .main-contents {
      margin-top: 8%;
      margin-left: 5%;
      margin-right: 5%;
      border-radius: 15px;
    }

    .main-content-nav {
      border-top-left-radius: 15px;
      border-top-right-radius: 15px;
      background-color: #545454;
      color: white;
      padding-left: 10px;
    }

    .contents {
      display: flex;
      gap: 15px;
    }

    .title-of-contents {
      margin: 0px;
    }

    .progress-page, .chat-page {
      margin-top: 5px;
      margin-bottom: 5px;
      cursor: pointer;
    }

    .tab-pane {
      margin: 15px;
      background-color: #363636;
      border-radius: 15px;
      height: 85%;
    }

    .placeholder {
      color: #bdbdbd;
      display: flex;
      justify-self: center;
      align-items: center;
      height: 100vh;
    }

    /* Chat page */

    #chat-tab {
      display: flex;
      height: auto;
    }

    .chat-panel {
      display: flex;
      background-color: #747474;
      margin: 20px;
      border-radius: 15px;
      width: 100%;
      height: 500px;
      flex-direction: column;
      overflow: hidden;
      position: relative;
    }

    #messenger {
      border-radius: 20px;
      width: 100%;
      margin-top: auto;
    }

    .message-section {
      padding: 10px;
      background-color: #636363;
      border-top: 1px solid #555;
    }

    .chat-messages {
      flex: 1;
      overflow-y: auto;
      padding: 10px;
      color: white;
    }

    /* Modal UI */

    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
      display: flex;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .modal-container {
      background-color: #545454;
      display: flex;
      width: 80%;
      max-width: 1000px;
      margin: 50px auto; 
      padding: 20px;
      border-radius: 15px;
    }

    .unif-pic-type {
      width: 150px;
      height: 150px;
    }

    .unif-pic-type {
      margin: 20px 15px 0 20px;
    }

    .info-panel {
      margin-top: 20px;
      background-color: #a6a6a6;
      border-radius: 15px;
      width: 100%;
      padding-right: 15px;
      padding-left: 10px;
      padding-bottom: 15px;
    }

    /* Modal Top section */

    .top-info-panel {
      display: flex;
      justify-content: space-between;
    }

    .right-info {
      align-self: center;
      text-align: right;
    }

    .customer-name, .date-ordered {
      font-size: 35px;
      margin-bottom: 10px;
    }

    .customer-number, .date {
      margin-top: 0;
    }

    /* Modal Middle Section */

    .mid-info-panel {
      display: flex;
      flex-direction: column;
    }

    .mid-info-upper {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }

    .order-label {
      font-size: 25px;
    }

    .order-type {
      height: 30px;
      width: 130px;
      align-self: center;
    }

    .sizes-form {
      background-color: #545454;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-template-areas: 
      "box-one box-two box-three"
      "foot foot foot";
      gap: 5px;
      justify-content: center;
      padding: 10px;
      border-radius: 15px;
    }

    .grid-box-one {
      grid-area: box-one;
    }

    .grid-box-two {
      grid-area: box-two;
    }

    .grid-box-three {
      grid-area: box-three;
    }

    .size-input {
      height: 50px;
      width: 250px;
      margin-bottom: 10px;
      font-size: 40px;
    }

    .footer-grid {
      grid-area: foot;
      display: flex;
      justify-content: space-between;
    }

    #requests {
      height: 200px;
      width: 100%;
    }

    .remarks {
      margin: 5;
    }

    .submit-save {
      height: 30px;
      border: none;
      border-radius: 10px;
      align-self: center;
    }

    /* Mobile view */
    @media (max-width: 1068px) {
      
      .side-bar {
      width: 37.5%;
    }

    /* Ui Modal */

    .modal-container {
      padding: 0;
    }

    .unif-pic-type {
      width: 100px;
      height: 100px;
    }

    .info-panel {
      width: 67%;
    }

    .size-input {
      height: 45px;
      width: 120px;
      font-size: 40px;
    }

    .remarks {
      margin: 0;
    }

    }
