
      /* General Structure */

      * {
        font-family: sans-serif;
      }

      body {
        margin: 0px;
      }

      h1, ul, li, h2, h3, h4 {
        font-family: 'Montserrat';
        margin: 0;
      }

      ul {
        list-style-type: none;
      }

      a {
        text-decoration: none;
        color: white;
      }

      p, button {
        font-family: 'Roboto';
      }

      /* Website Main Structure */

      .main-grid {
        display: grid;
        grid-template-columns: 250px 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "side nav nav"
        "side sep sep";
        height: 100vh;
      }

      .navigation-bar {
        grid-area: nav;
        background-color: #737373;
      }

      .side-bar {
        grid-area: side;
        background-color: #545454;
      }

      .separator {
        grid-area: sep;
        display: grid;
        grid-template-columns: 1fr 400px;
        grid-template-areas: 
        "main due";
        margin: 20px;
        gap: 20px;
      }

      /* Separator */

      .main-contents {
        grid-area: main;
        background-color: #737373;
      }

      .deadlines {
        grid-area: due;
        background-color: #737373;
      }

      .main-contents, .deadlines {
        border-radius: 15px;
      }

      /* Navigation Contents */

      nav {
        display: flex;
        justify-content: space-between;
      }

      .web-title {
        margin: 15px;
      }

      .right-contents {
        display: flex;
        margin-right: 5px;
      }

      .manager-pfp {
        width: 40px;
        align-self: center;
        border-radius: 20px;
      }

      /* Side bar contents */
      .side-bar {
        display: flex;
        flex-direction: column;
      }

      .placeholder {
        margin: 0 35px;
        margin-bottom: 10px;
      }

      .customer-messages-panel {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 10px;
        color: white;
      }

      .profile-customer {
        width: 50px;
        height: 50px;
        border-radius: 50px;
      }

      #customer-search {
        height: 40px;
        font-size: 15px;
        border-radius: 15px;
      }

      .customers {
        display: flex;
        margin: 20px 0;
        gap: 10px;
        text-align:left;
        padding: 10px;
        border-radius: 15px;
        transition: linear 0.1s;
        cursor: pointer;
      }

      .customers:hover {
        background-color: #363636;
      }

      .recent-message {
        margin: 5px 0;
        font-weight: 200;
      }

      /* Add Customer Button */
      .add-customer {
        display: flex;
        position: fixed;
        right: 20;
        bottom: 15;
        width: 30px;
        height: 30px;
        border: 2px solid black;
        border-radius: 25px;
        font-size: 30px;
        cursor: pointer;
        transition: width 0.3s ease, background-color 0.3s ease;
        overflow: hidden;
        white-space: nowrap;
      }

      .plus-icon {
        align-self: center;
        margin: 0;
      }

      .button-text {
        opacity: 0;
        align-self: center;
        margin: 0;
        transition: opacity 0.3s ease;
        font-size: 15px;
        width: 100%;
      }

      .add-customer:hover {
        width: 150px;
      }

      .button-text:hover {
        opacity: 1;
      } 

      /* Main content (Navigation) */ 

      .nav-main-contents {
        background-color: #545454;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
      }

      .nav-ul {
        display: flex;
        gap: 15px;
        padding: 20px;
      }

      .nav-li {
        display: inline-block;
      }

      .options {
        font-weight: bolder;
        font-size: 20px;
        padding:10px;
        border-radius: 15px;
      }

      .options:hover {
        background-color: #bdbdbd;
        background-color: rgba(255, 255, 255, 0.2);
      }

      /* Main contents panel */
      .tab-pane {
        background-color: #363636;
        margin: 15px;
        border-radius: 15px;
        height: 80vh;
      }

      /* Customer Panel */
      #customer {
        display: flex;
        flex-direction: column;
        padding: 25px;
        gap: 15px;
      }

      .customer-name-order {
        background-color:#737373;
        border-radius: 15px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        cursor: pointer;
        transition: linear 0.1s;
      }

      .customer-info {
        align-self: center;
        font-size: 30px;
      }

      .progress-track {
        width: 100px;
        background-color: #bdbdbd;
        clip-path: polygon(
          0% 0%,
          80% 0%,
          100% 50%,
          80% 100%,
          0% 100%
        );
        display: flex;
        align-items: center;
        padding: 10px;
      }

      .progress-display {
        margin: 0;
      }

      .customer-name-order:hover {
        background-color: #636363;
      }

      /* Cashflow */

      #cashflow {
        display: none;
        overflow: hidden;
        position: relative;
      }

      .table-position {
        display: flex;
        flex-direction: column;
        padding: 20px 10px;
        gap: 20px;
        max-height: 380px;
        overflow-y: auto;
      }

      .total-contain {
        display: flex;
        color: white;
        gap: 20px;
        background-color: #545454;
        padding: 20px;
        border-radius: 15px;
      }

      .total-display {
        align-self: center;
      }

      .number-input {
        border: none;
        width: 100%;
        height: 40px;
        border-radius: 15px;
        font-size: 20px;
        padding-left: 15px;
      }

      .number-input::-webkit-outer-spin-button,
      .number-input::-webkit-inner-spin-button,
      .table-input::-webkit-outer-spin-button,
      .table-input::-webkit-inner-spin-button {
        -webkit-appearance: none;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        height: 20px;
      }

      th {
        font-family: 'Montserrat';
        color: white;
      }

      th, td {
        padding: 12px;
        border: 1px solid #ccc;
        text-align: left;
      }

      .table-input {
        padding: 5px;
        height: 20px;
        width: 100%;
        color: white;
        background-color: transparent;
        border: none;
        font-family: sans-serif;
      }

      .add-rows {
        width: 100px;
        border-radius: 10px;
        border: none;
        position: absolute;
        bottom: 20;
        right: 20;
        cursor: pointer;
      }

      #total-val {
        align-self: center;
        font-size: 20px;
        font-weight: 700;
        background-color: white;
        color: black;
        width: 100%;
        padding: 10px;
        border-radius: 15px;
      }

      /* Chat Page */

      #chat {
        display: none;
        height: auto;
      }

      .chat-panel {
        display: flex;
        margin: 20px;
        border-radius: 15px;
        width: 100%;
        height: 500px;
        flex-direction: column;
        overflow: hidden;
        position: relative;
      }

      .chat-messages {
        background-color: #747474;
        flex: 1;
      }

      .message-section {
        background-color: #636363;
        padding: 10px;
      }

      #chats {
        width: 100%;
        border-radius: 15px;
      }


      /* Deadline Section */

      .nav-dl {
        display: flex;
        justify-content: center;
        background-color: #545454;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        padding: 17px 0;
      }

      .due-this-week {
        color: white;
      }

      #due-display {
        margin: 15px;
        background-color: #363636;
        padding: 10px;
      }

      #customer-due-info {
        font-size: 20px;
      }

      .date-display {
        background-color: #bdbdbd;
        padding: 5px;
        border-radius: 30px;
      }

      .due-date {
        font-size: 15px;
      }

    /* Modal UI */

    .modal-overlay {
      position: fixed;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;
      background-color: rgba(0, 0, 0, 0.5); /* semi-transparent background */
      display: none;
      justify-content: center;
      align-items: center;
      z-index: 999;
    }

    .modal-container {
      background-color: #545454;
      display: flex;
      width: 80%;
      max-width: 1000px;
      margin: 50px auto; 
      padding: 20px;
      border-radius: 15px;
    }

    .unif-pic-type {
      width: 150px;
      height: 150px;
    }

    .unif-pic-type {
      margin-top: 20px;
      margin-right: 20px;
    }

    .info-panel {
      margin-top: 20px;
      background-color: #a6a6a6;
      border-radius: 15px;
      width: 100%;
      padding-right: 15px;
      padding-left: 15px;
      padding-bottom: 15px;
      padding-top: 15px;
    }

    /* Modal Top section */

    .top-info-panel {
      display: flex;
      justify-content: space-between;
    }

    .right-info {
      align-self: center;
      text-align: right;
    }

    .customer-name, .date-ordered {
      font-size: 35px;
      margin-bottom: 10px;
    }

    .customer-credentials, .date {
      margin-top: 0;
      margin-bottom: 5px;
    }

    /* Modal Middle Section */

    .mid-info-panel {
      display: flex;
      flex-direction: column;
      gap: 10px;
    }

    .mid-info-upper {
      display: flex;
      justify-content: space-between;
      gap: 10px;
    }

    .status-update-dropdown {
      font-size: 25px;
      border: none;
      background-color: transparent;
    }

    .mid-info-right {
      display: flex;
      gap: 15px;
    }

    .order-label {
      font-size: 25px;
    }

    .order-type {
      height: 30px;
      width: 130px;
      align-self: center;
    }

    .sizes-form {
      background-color: #545454;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(2, auto);
      grid-template-areas: 
      "box-one box-two box-three"
      "foot foot foot";
      gap: 5px;
      justify-content: center;
      padding: 10px;
      border-radius: 15px;
    }

    .grid-box-one {
      grid-area: box-one;
    }

    .grid-box-two {
      grid-area: box-two;
    }

    .grid-box-three {
      grid-area: box-three;
    }

    .size-input {
      height: 50px;
      width: 250px;
      margin-bottom: 10px;
      font-size: 25px;
    }

    .footer-grid {
      grid-area: foot;
      display: flex;
      justify-content: space-between;
    }

    #requests {
      height: 200px;
      width: 100%;
    }

    .remarks {
      margin: 5;
    }

    .submit-save {
      height: 30px;
      border: none;
      border-radius: 10px;
      align-self: center;
      cursor: pointer;
    }

    /* Status update */
    .progress-bar-contain {
      display: flex;
      flex-direction: column;
      gap: 10px;
      position: relative;
    }

    .status-title {
      display: flex;
      justify-content: space-between;
    }

    .status {
      margin: 0;
    }

    .progress-bar {
      height: 40px;
      background-color: aqua;
      width: 0;
      border-radius: 15px;
      display: flex;
    }

    .percent-text {
      align-self: center;
      position: absolute;
      left: 50%;
    }

    /* Confirm Modal */

    .modal-confirmation {
      background-color: #bdbdbd;
      padding: 10px;
      border-radius: 15px;
    }

    .header-confirm {
      font-size: 50px;
    }

    .middle-confirm, .top-confirm {
      margin: 20px;
    }

    .lower-confirm {
      display: flex;
      justify-content: flex-end;
      gap: 10px;
    }

    .lower-confirm button {
      padding: 10px 30px;
      border: none;
      color: white;
      background-color: #363636;
    }

    .sub-header {
      text-align: center;
      font-size: 20px;
    }

    /* Add customer modal */
        .forms {
      background-color: white;
      width: 40%;
      border-radius: 15px;
      padding: 25px;
      display: flex;
      flex-direction: column;
      gap: 20px;
    }

    .head-section {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    hr {
      width: 70%;
    }

    .date-section {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      align-items: flex-end;
      width: 100%;
    }

    .add-form-date {
      margin: 0;
    }

    .body-section {
      display: flex;
      justify-content: space-between;
      gap: 5px;
    }

    .fill-up {
      font-size: 15px;
    }

    .input-container {
      display: flex;
      gap: 5px;
    }

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 5px;
    }

    .add-forms {
      border: none;
      background-color: aliceblue;
      padding: 5px;
      width: 130px;
    }

    #contact, #set {
      align-self: flex-start;
    }

    .measurement-header {
      display: flex;
      justify-content: space-between;
    }

      /* Mobile Responsiveness */

      @media (max-width:768px){

       /* Main Structure */ 

      .main-grid {
        display: grid;
        grid-template-columns: 15px 60px;
        grid-template-rows: auto 1fr;
        grid-template-areas: 
        "side nav nav"
        "side sep sep";
        height: 100vh;
      }

      .separator {
        grid-area: sep;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 350px;
        grid-template-areas: 
        "main"
        "due";
        margin: 20px;
        gap: 15px;
      }

        /* side bar */
        /* Maybe do something on the responsiveness of the side bar, no hover since it is not applicable on mobile */

        .side-bar {
          width: 20px;
          position: fixed;
          height: 100vh;
          transition: width 1s ease;
        }

        .side-bar:hover {
          width: 250px;
          transition: width 0.3 ease;
        }

        .customer-messages-panel {
        overflow: hidden;
      }

        /* Navigation bar */


    /* Ui Modal */

    .modal-container {
      padding: 10px;
    }

    .unif-pic-type {
      width: 100px;
      height: 100px;
      margin-right: 10px;
    }

    .info-panel {
      width: 100%;
    }

    .size-input {
      height: 45px;
      width: 120px;
      font-size: 15px;
    }

    .remarks {
      margin: 0;
    }
        
      }